@import "../../mixins";

.start {
  @include centered-content;

  justify-content: flex-start;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
  }

  &__title {
    margin: 0 0 30px;
    font-size: 50px;
    color: #27aedb;
  }

  &__text {
    margin: 0;
    font-size: 24px;
    max-width: 60%;
    text-align: center;
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
  }

  &__link {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    color: #27aedb;
    padding: 10px;
    border-radius: 15px;
    border: none;
    border-bottom: 3px solid black;
    background: none;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
