.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../../img/leaderboard-background.png");
  background-position: center;
  background-size: cover;

  &__container {
    margin-top: 50px;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
  font-size: 50px;
  font-weight: bold;
  color: #27aedb;
  }

  &__subTitle {
    max-width: 60%;
    text-align: center;
  }

  &__link {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    color: #27aedb;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 500;
    font-size: 30px;
    line-height: 11px;
    text-decoration: none;
    border: none;
    outline: none;
    border-bottom: 3px solid black;
  }
}
