@import "../../mixins";

.start {
  display: flex;
  flex-direction: column;
  height: 100%;

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__title {
    margin: 0 0 30px;
    font-size: 50px;
    color: #27aedb;
  }

  &__text {
    margin: 0;
    font-size: 24px;
    max-width: 60%;
    text-align: center;
  }

  &__links {
    display: flex;
    justify-content: space-evenly;
  }

  &__link {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #27aedb;
    border-radius: 15px;
    border: none;
    border-bottom: 3px solid black;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
