.message-list {
  width: 100%;
  padding: 0 15px 15px;
  box-sizing: border-box;

  &__backlink {
    font-size: 20px;

    &:hover {
      opacity: 0.5;
    }

    &:visited {
      color: var(--color-main);
    }
  }

  &__title {
    margin: 20px 0;
  }

  &__form {
    width: 100%;
    display: flex;
  }

  &__button {
    width: 130px;
    height: 46px;
    border: 1px solid var(--border-gray);
    background-color: var(--background-forum-card);
    border-radius: 10px;
    align-self: flex-end;
    color: var(--color-main);

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &__error-message {
    color: var(--error);
    margin-top: 4px;
  }

  &__textarea {
    width: 100%;
    border: none;
    margin-right: 10px;
  }
}
