.button {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 30px;
  border: none;
  border-bottom: 3px solid black;
  background: none;

  &:enabled {
    color: #27aedb;
  }

  &:enabled:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
