.button {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 30px;
  border: none;
  border-bottom: 3px solid var(--color-main);
  background: none;

  &:disabled {
    color: var(--button-disabled);
  }

  &:enabled {
    color: var(--light-blue);
  }

  &:enabled:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
