.error-boundary {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__text-container {
    width: 300px;
  }

  &__image {
    width: 400px;
    height: 400px;
  }

  &__text {
    font-family: Arial, serif;
  }
}
