.topic {
  width: 100%;
  border: 1px solid var(--border-gray);
  margin-top: 15px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  text-decoration: none;
  color: var(--color-main);
  font-size: 20px;
  background-color: var(--background-forum-card);

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &__author-picture-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__author-picture {
    width: 100px;
    height: 100px;
    border: 1px solid var(--border-gray);
    object-fit: cover;
  }

  &__text-wrapper {
    padding: 0 10px;
    box-sizing: border-box;
    width: 70%;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  &__creation {
    margin: 0;
  }

  &__author-name {
    font-weight: bold;
    margin: 0 10px;
  }

  &__date {
    font-family: Righteous, serif;
    font-size: 16px;
    margin: 0 0 0 10px;
  }

  &__message {
    margin: 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Bad Script", serif;
    line-height: normal;
  }

  &__messages-count-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__messages-text {
    margin: 0;
  }

  &__messages-count {
    margin: 0;
    font-family: Righteous, serif;
    font-size: 30px;
  }
}
