.forum-message {
  display: flex;
  background-color: var(--background-forum-card);
  border-radius: 20px;
  margin-bottom: 15px;

  &__author-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
  }

  &__author-name {
    margin: 0 0 5px;
  }

  &__author-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid var(--border-gray);
  }

  &__text-wrapper {
    width: 90%;
  }

  &__info {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-gray);
    display: flex;
    justify-content: space-between;
    font-family: Righteous, serif;
  }

  &__date {
    margin: 0;
  }

  &__id {
    margin: 0;
  }

  &__text {
    font-family: "Bad Script", serif;
    font-size: 20px;
    line-height: normal;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
  }

  &__textarea-wrapper {
    position: relative;
    width: 100%;
    margin-right: 10px;
  }

  &__textarea {
    width: 100%;
    border: none;
  }

  &__emoji-tooltip {
    position: absolute;
    top: -30px;
    right: -4px;
    height: 25px;
    background-color: var(--gradient-center);
    border: 1px solid var(--border-gray);
    padding: 0 5px;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
  }

  &__emoji-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  &__form {
    display: flex;
    padding: 0 10px 10px;
    box-sizing: border-box;

    &_align-right {
      justify-content: flex-end;
    }

    &_space-between {
      justify-content: space-between;
    }
  }

  &__button {
    border-radius: 10px;
    height: 24px;
    min-width: 96px;
    border: 1px solid var(--border-gray);
    cursor: pointer;
    color: var(--color-main);
    background-color: var(--background-forum-card);
    padding-bottom: 3px;
    box-sizing: border-box;

    &:hover {
      opacity: 0.5;
    }
  }
}
