.topic-list {
  width: 100%;
  padding: 0 15px 15px;
  box-sizing: border-box;

  &__form {
    display: flex;
  }

  &__button {
    background-color: var(--background-forum-card);
    border-radius: 10px;
    border: 1px solid var(--border-gray);
    color: var(--color-main);

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  &__input {
    width: 30%;
  }

  &__textarea {
    margin: 0 10px;
    width: 70%;
  }

  &__error-message {
    color: #ed3838;
    margin-top: 4px;
  }
}
