.forum-topic-card {
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  background-color: #f0f4f7;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

  &:visited {
    color: black;
  }

  &__author-picture-wrapper {
    width: 10%;
    display: flex;
    justify-content: space-around;
  }

  &__author-picture {
    width: 100px;
    height: 100px;
  }

  &__text-wrapper {
    padding: 0 10px;
    box-sizing: border-box;
    width: 70%;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  &__creation {
    margin: 0;
  }

  &__author-name {
    font-weight: bold;
  }

  &__date {
    font-family: Righteous, serif;
    font-size: 16px;
  }

  &__last-message-wrapper {
    margin: 10px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__last-message {
    font-style: italic;
  }

  &__messages-count-wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__messages-text {
    margin: 0;
  }

  &__messages-count {
    margin: 0;
    font-family: Righteous, serif;
    font-size: 30px;
  }
}
