.button {
  width: 70%;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 500;
  font-size: 30px;
  line-height: 11px;
  text-decoration: none;
  border: none;
  outline: none;
  border-bottom: 3px solid black;
  background: none;
}
