@import "../../mixins";

.error-container {
  @include centered-content;

  &__link {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-top: 20px;
    color: var(--light-blue);
  }
}
